<div ng-app="frontApp">
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item banner-child active" style="background-image: url('/Content/Images/images/Banner/BannerProduct/BannerProduct.jpg'); background-color: #fff; ">
                    <div class="banner-child-content">
                        <h1 class="banner-child-title" style="color: #3a3a3a">
                            Những sản phẩm của chúng tôi
                        </h1>
                        <div class="banner-child-des" style="color: #3a3a3a">
                            Bất cứ khi nào bạn đang ở trên đường, bạn phụ thuộc vào động cơ của bạn - và tất cả các bộ phận của nó - để chạy trơn tru. Đó là lý do tại sao chúng tôi cung cấp một loạt các sản phẩm chất lượng cao, bạn có thể tin tưởng.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="allCategoryProductController">
        <div class="container-fluid">
            <div class="catalog-product">
                <p class="title-catalog text-uppercase">Danh mục sản phẩm</p>
                @*<div class="col-md-4" ng-repeat="(index, value) in categories">*@
                <div class="col-md-3" dir-paginate="(index, value) in categories | itemsPerPage: 12">
                    <div class="catalog-child">
                        <a href="/danh-muc-san-pham/{{value.alias}}-{{value.idCategory}}" title="{{value.title}}"><img title="{{value.title}}" alt="{{value.title}}" src="{{value.image}}" class="img-responsive" /></a>
                        <div class="text">
                            <div class="title"><a href="/danh-muc-san-pham/{{value.alias}}-{{value.idCategory}}" title="{{value.title}}">{{value.title}} </a></div>
                            <div class="description">{{value.description | limitTo: 100}}{{value.description.length > 100 ? '&hellip;' : ''}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container"><dir-pagination-controls></dir-pagination-controls></div>
        </div>
    </div>
</div>
@Html.Partial("_FootCTA")