<div ng-controller="bannerController">
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="margin-left: 10px;" data-target="#carousel-example-generic" data-slide-to="{{index}}" ng-class="{'active':index==0}" ng-repeat="(index, value) in banners"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item banner-child" ng-class="{'active':index==0}" style="background-image: url({{value.image}})" ng-repeat="(index, value) in banners">
                    <div class="banner-child-content">
                        <h1 class="banner-child-title">
                            {{value.title}}
                        </h1>
                        <div class="banner-child-des">
                            {{value.description}}
                        </div>
                        <a href="{{value.link}}" class="btn btn-danger">{{value.text_link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>