<footer class="container-fluid" style="margin: 0; padding: 0;">
    <div class="foot-catalog">
        <div class="col-md-4">
            <div class="catalog-child">
                <a href="/danh-muc-bai-viet/dai-ly-143" title="Đại lý"><img title="Đại lý" alt="Đại lý" src="/Content/Images/images/danh%20muc%20bai%20viet/dai%20ly/mobil-1-lube-express-quick-oil-change-location-fronts.jpg" class="img-responsive" /></a>
                <div class="text">
                    <div class="title"><a href="/danh-muc-bai-viet/dai-ly-143" title="Đại lý">Đại lý</a></div>
                    <div class="description">Những đại lý cung cấp sản phẩm dầu nhớt Mobil tại Hải Phòng. Bạn có thể tìm được đại lý nào gần với mình nhất, thuận tiện nhất.<br></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="catalog-child">
                <a href="/danh-muc-bai-viet/khuyen-mai-136" title="Khuyến mại"><img title="Khuyến mại" alt="Khuyến mại" src="/Content/Images/images/danh%20muc%20bai%20viet/khuyen%20mai.png" class="img-responsive" /></a>
                <div class="text">
                    <div class="title"><a href="/danh-muc-bai-viet/khuyen-mai-136" title="Khuyến mại">Khuyến mại</a></div>
                    <div class="description">Những thông tin khuyến mại hấp dẫn từ hãng dầu nhớt Mobil dành tới khách hàng sẽ luôn luôn được cập nhật nhanh nhất trên website.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="catalog-child">
                <a href="/danh-muc-bai-viet/cau-hoi-thuong-gap-138" title="Câu hỏi thường gặp"><img title="Câu hỏi thường gặp" alt="Câu hỏi thường gặp" src="/Content/Images/images/danh%20muc%20bai%20viet/FAQ.jpg" class="img-responsive" /></a>
                <div class="text">
                    <div class="title"><a href="/danh-muc-bai-viet/cau-hoi-thuong-gap-138" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></div>
                    <div class="description">Những câu hỏi thường được đặt ra bởi người dùng. Bạn có thể tham khảo thông tin chính xác mình cần từ những câu hỏi này.</div>
                </div>
            </div>
        </div>
    </div>
</footer>